  <div class="panel-heading">
    <h3 class="panel-title"><%= name %></h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item display">
        <span>Nothing to display</span>
      </div>
      <% for (name in features) { %>
        <div class="list-group-item feature">
          <span class="list-group-item-heading"><%= name %></span>
          <ul class="">
            <% for (action in features[name] ) { %>
              <div>
                <a href="#" data-name="<%= name %>:<%= action %>">
                  <%= action %>
                </a>
              </div>
            <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
</div>

